
05-transform-objects/exercise/node_modules
06-animations/exercise/node_modules
18-galaxy-generator/excercise/src/script.js
18-galaxy-generator/excercise/static/.DS_Store
20-physics/excersice/node_modules
