# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
.node_modules
/.pnp
.pnp.js

/public
.public

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

04-webpack/node_modules
04-webpack/bundler
04-webpack/static

05-transform-objects/node_modules
05-transform-objects/bundler
05-transform-objects/static

06-animations/node_modules
06-animations/bundler
06-animations/static

07-cameras/node_modules
07-cameras/bundler
07-cameras/static

08-fullscreen-and-resizing/node_modules
08-fullscreen-and-resizing/bundler
08-fullscreen-and-resizing/static

09-geometries/node_modules
09-geometries/bundler
09-geometries/static

10-debug-ui/node_modules
10-debug-ui/bundler
10-debug-ui/static

11-textures/node_modules
11-textures/bundler
11-textures/static


